<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" class="header-btns">
      <ion-button (click)="switchMode()" [class.highlight]="blockchain.tableStyle === 'bootstrap'">
        <ion-icon name="sunny" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Latest Blocks</ion-title>
    <ion-buttons slot="end" class="header-btns">
      <ion-menu-toggle>
        <ion-icon src="../assets/icon/menu.svg"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="blockchain.blocks.length > 0">
  <ion-refresher slot="fixed" (ionRefresh)="updateBlocks($event)">
    <ion-refresher-content
      [class.darkRefresh]="blockchain.tableStyle === 'dark'"
      [class.lightRefresh]="blockchain.tableStyle === 'bootstrap'"
      pullingIcon="arrow-round-up"
      pullingText="Update blocks"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid [class.darkContainer]="blockchain.tableStyle === 'dark'" class="ion-no-padding ion-no-margin">
    <div class="search-container" [class.darkSearch]="tableStyle === 'dark'">
      <ion-searchbar
        mode="ios"
        color="light"
        placeholder=" Search for Block"
        [(ngModel)]="block"
        (keyup.enter)="searchBlock()"
      >
      </ion-searchbar>
    </div>
    <ion-list class="ion-no-padding ion-no-margin">
      <ngx-datatable
        [rows]="blockchain.blocks"
        [ngClass]="tableStyle"
        [rowHeight]="'auto'"
        [headerHeight]="40"
        [rowClass]="getRowClass.bind(this)"
        (activate)="blockDetails($event)"
      >
        <ngx-datatable-column name="Height" prop="height" maxWidth="100"></ngx-datatable-column>
        <ngx-datatable-column name="Producer" prop="poolInfo.poolName" maxWidth="200"></ngx-datatable-column>
        <ngx-datatable-column name="Time" prop="date" maxWidth="110"></ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a>
              <ion-icon name="arrow-forward" mode="ios"></ion-icon>
            </a>
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Amount" prop="txlength"></ngx-datatable-column> -->
      </ngx-datatable>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-content *ngIf="blockchain.blocks.length === 0">
  <ion-list>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>
