.address-header {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-img {
    height: 60px;
    width: 60px;
  }

  ion-icon {
    height: 40px;
    width: 40px;
  }

  ion-label {
    font-weight: 600;
    font-size: 16px;
  }
}
