<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" class="header-btns">
      <ion-button [routerLink]="['/menu/ranks']">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rank Details</ion-title>
    <ion-buttons slot="end" class="header-btns">
      <ion-menu-toggle>
        <ion-icon src="../assets/icon/menu.svg"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">

    <ion-row>
      <ion-col size="12" class="section">
        <h2>Rank Summary</h2>
      </ion-col>
    </ion-row>

    <ion-row class="details">
      <h4>Address</h4>
      <p>{{ rank.address }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Balance</h4>
      <p>{{ rank.balance }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Percentage</h4>
      <p>{{ rank.percentage }}</p>
    </ion-row>

  </ion-grid>
</ion-content>
