ion-header {
  margin-top: 20px;

  ion-title {
    font-size: 23px;
  }
}

ion-label {
  font-weight: 600;
}

img {
  height: 40px;
  width: 40px;
}

ion-icon {
  color: #989aa2;
  font-size: 36px;
}
