<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>Latest Txs</ion-title>
    <ion-buttons slot="end" class="header-btns">
      <ion-menu-toggle>
        <ion-icon src="../assets/icon/menu.svg"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="blockchain.txs.length > 0">
  <div class="search-container">
    <ion-searchbar
      mode="ios"
      placeholder=" Search for Transaction"
      [(ngModel)]="tx"
      (keyup.enter)="searchTx()"
    >
    </ion-searchbar>
  </div>
  <ion-list padding class="list">
    <ion-item *ngFor="let tx of blockchain.txs" detail (click)="blockchain.transDetails(tx)">
      <ion-label>{{ tx }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="blockchain.txs.length === 0">
  <ion-list>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>
