<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" class="header-btns">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Block Details</ion-title>
    <ion-buttons slot="end" class="header-btns">
      <ion-menu-toggle>
        <ion-icon src="../assets/icon/menu.svg"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container" [class.darkContainer]="blockchain.tableStyle === 'dark'" padding-top>

    <ion-row>
      <ion-col class="block-header">
        <ion-img src="../assets/images/block.png"></ion-img> &nbsp;
        <ion-label>{{ block.height }}</ion-label>
      </ion-col>
    </ion-row>

    <!-- Block summary -->

    <ion-row>
      <ion-col size="12" class="section">
        <h2>Block Summary</h2>
      </ion-col>
    </ion-row>

    <ion-row class="details">
      <h4>Height</h4>
      <p>{{ fixNumber(block.height) }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Time</h4>
      <p>{{ getDate(block.time)}} </p>
    </ion-row>

    <ion-row class="details">
      <h4>Producer</h4>
      <p>{{ block.poolInfo.poolName }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Confirmations</h4>
      <p>{{ block.confirmations }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Size</h4>
      <p>{{ fixNumber(block.size) }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Bits</h4>
      <p>{{ fixNumber(block.bits) }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Difficulty</h4>
      <p>{{ block.difficulty }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Version</h4>
      <p>{{ block.version }}</p>
    </ion-row>

    <ion-row class="details">
      <h4>Nonce</h4>
      <p>{{ block.nonce }}</p>
    </ion-row>

    <div class="overflow" margin-horizontal>
      <ion-row>
        <h4>Hash</h4>
        <p padding-top>
          {{ block.hash.slice(0,33) }} <br>
          {{ block.hash.slice(33,66) }}
        </p>
      </ion-row>
    </div>

    <div class="overflow" margin-horizontal>
      <ion-row>
        <h4>Previous Block</h4>
        <p padding-top>
          {{ block.previousblockhash.slice(0,33) }} <br>
          {{ block.previousblockhash.slice(33,66) }}
        </p>
      </ion-row>
    </div>

    <div class="overflow" margin-horizontal>
      <ion-row>
        <h4>Merkle Root</h4>
        <p padding-top>
          {{ block.merkleroot.slice(0,33) }} <br>
          {{ block.merkleroot.slice(33,66 ) }}
        </p>
      </ion-row>
    </div>

    <!-- Transactions -->

    <ion-row padding-top>
      <ion-col size="12" class="section">
        <h2>Transaction Summary</h2>
      </ion-col>
    </ion-row>

    <ion-row class="details">
      <h4>Number of Transactions</h4>
      <p>{{ block.txlength }}</p>
    </ion-row>

    <div class="overflow" margin-horizontal>
      <ion-row>
        <h4>Transactions</h4>
      </ion-row>

      <ion-row *ngFor="let tx of block.tx" (click)="blockchain.transDetails(tx)">
        <p>{{ tx.slice(0,33)}} <br> {{ tx.slice(33,66)}} <br> </p>
        <p><ion-icon mode="ios" name="arrow-forward"></ion-icon></p>
      </ion-row>
    </div>

    <!-- Confirm Info -->

    <ion-row padding-top>
      <ion-col size="12" class="section">
        <h2>Confirmation Summary</h2>
      </ion-col>
    </ion-row>

    <div class="overflow" margin-horizontal>
      <ion-row>
        <h4>Sponsor</h4>
        <p padding-top>
          {{ block.confirmInfo.sponsor.slice(0,33) }} <br>
          {{ block.confirmInfo.sponsor.slice(33,66) }}
        </p>
      </ion-row>
    </div>

    <ion-row class="details">
      <h4>Offset</h4>
      <p>{{ block.confirmInfo.viewoffset }}</p>
    </ion-row>

    <div class="overflow" margin-horizontal>
      <ion-row>
        <h4>Votes List</h4>
      </ion-row>

      <!-- With index of vote -->
       <ion-row *ngFor="let vote of block.confirmInfo.votes">
        <h5>{{ block.confirmInfo.votes.indexOf(vote) + 1 }}</h5>
        <p>
          {{ vote.signer.slice(0,33)}} <br>
          {{ vote.signer.slice(33,66)}}
        </p>
      </ion-row>

     <!--  <ion-row>
        <p *ngFor="let vote of block.confirmInfo.votes">{{ vote.signer.slice(0,33)}} <br> {{ vote.signer.slice(33,66)}}</p>
      </ion-row> -->
    </div>

  </ion-grid>
</ion-content>
