<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" class="header-btns">
      <ion-button (click)="switchMode()" [class.highlight]="tableStyle === 'bootstrap'">
        <ion-icon name="sunny" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Top Addresses</ion-title>
    <ion-buttons slot="end" class="header-btns">
      <ion-menu-toggle>
        <ion-icon src="../assets/icon/menu.svg"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="blockchain.ranks.length > 0">

  <div class="search-container" [class.darkSearch]="tableStyle === 'dark'">
    <ion-searchbar
      mode="ios"
      color="light"
      placeholder=" Search for Address"
      [(ngModel)]="address"
      (keyup.enter)="searchAddress()"
    >
    </ion-searchbar>
  </div>

  <ion-list no-padding no-margin>
    <ngx-datatable
      [rows]="blockchain.ranks"
      [ngClass]="tableStyle"
      [rowHeight]="'auto'"
      [headerHeight]="40"
      [rowClass]="getRowClass.bind(this)"
      (activate)="rankDetails($event)"
    >
      <ngx-datatable-column name="Rank" maxWidth="80">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <p no-margin>{{ blockchain.ranks.indexOf(row) + 1 }}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Balance" prop="balance" maxWidth="210"></ngx-datatable-column>
      <ngx-datatable-column name="Percentage" prop="percentage" maxWidth="120"></ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a><ion-icon name="arrow-forward" mode="ios"></ion-icon></a>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Amount" prop="txlength"></ngx-datatable-column> -->
    </ngx-datatable>
  </ion-list>

</ion-content>

<ion-content *ngIf="blockchain.ranks.length === 0">
  <ion-list>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="width: 100%; height: 30px"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>
