/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/Raleway-Black.ttf') format('truetype');
}

* {
  font-family: 'Raleway' !important;
}

ion-content {
  --background: transparent;
}

:root {
  ion-tab-button {
    --ripple-color: var(--ion-color-dark);
  }

  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: var(--ion-color-dark) !important;
      --ion-color-base: var(--ion-color-dark) !important;
    }
  }

  ion-tab-button:hover {
    ion-icon, ion-label {
      color: var(--ion-color-dark) !important;
      --ion-color-base: var(--ion-color-dark) !important;
    }
  }
}

/** Header **/
ion-header {
  ion-toolbar {
    .header-btns {
      font-size: 24px;
      padding: 16px;

      ion-icon {
        font-size: 24px;
      }
    }

    ion-title {
      font-size: 23px;
      font-weight: 900;
    }
  }
}

/** Bottom tab-bar **/
ion-tab-bar {
  height: 9%;

  ion-icon {
    color: #989aa2;
    font-size: 36px;
  }

  ion-label {
    font-size: 9px;
    font-weight: 700;
    color: #989aa2;
  }
}

/*** Datatable Rows ***/
.highlight {
  ion-icon {
    color: #ffd31a;
  }
}

.isEven {
  background-color: rgb(0, 0, 0);
}

.isLightandOdd {
  color: black;
  background: #ffffff;
}

.isLightandEven {
  color: black;
  background: #C0C5CC;
}

.isDarkandOdd {
  background-color: rgb(10, 10, 10);
}

/** Light Mode - Block/Tx/Address Details **/
.container {
  min-height: 100%;
  background: #FAFAFA;

  .section {
    margin-left: 10px;
    margin-right: 10px;

    h2 {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .details {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-left: 15px;
    margin-right: 15px;

    h4, p {
      font-size: 12px !important;
      font-weight: 600;
    }

    h4 {
      margin: 16px 0;
    }

    p {
      margin: 16px;
      color: #868f96;
    }

    ion-img {
      width: 20px;
      height: 20px;
    }
  }

  .overflow {
    border-bottom: 1px solid rgb(216, 216, 216);

    ion-row {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      h4, h5, p {
        font-size: 12px !important;
        font-weight: 600;
      }

      h4 {
        margin: 16px 0;
      }

      h5 {
        margin: 0 0 16px;
      }

      p {
        margin: 0 0 16px;
        color: #868f96;
      }
    }
  }

  .link {
    color: #007AFF !important;

    ion-icon {
      color: #868f96;
    }
  }
}

/** Dark Mode - Block/Tx/Address Details **/
.darkContainer {
  min-height: 100%;
  color: white;
  background: #181b24;

  ion-spinner {
    color: white;
  }

  .section {
    margin-left: 10px;
    margin-right: 10px;

    h2 {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .details {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #d1d4d7;
    margin-left: 15px;
    margin-right: 15px;

    h4, p {
      font-size: 12px !important;
      font-weight: 600;
    }

    h4 {
      margin: 16px 0;
    }

    p {
      margin: 16px;
      color: #fafafa;
    }

    ion-img {
      width: 20px;
      height: 20px;
    }

    .end {
      display: flex;
      justify-content: flex-end;
    }
  }

  .overflow {
    border-bottom: 1px solid #d1d4d7;

    ion-row {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      h4, p {
        font-size: 12px !important;
        font-weight: 600;
      }

      h4 {
        margin: 16px 0;
      }

      p {
        margin: 0 0 16px;
        color: #fafafa;
      }
    }
  }


  .link {
    color: #007AFF !important;

    ion-icon {
      color: white;
    }
  }
}

/** refresher on dark/light mode **/
.lightRefresh {
  padding-top: 45px;
  padding-bottom: 100px;

  .refresher-pulling-text, .refresher-refreshing-text, .refresher-refreshing-icon, .refresher-pulling-icon {
    font-weight: 500;
  }
}

.darkRefresh {
  background-color: #1b1e27;
  --color: white !important;
  padding-top: 45px;
  padding-bottom: 100px;

  .refresher-pulling-text, .refresher-refreshing-text, .refresher-refreshing-icon, .refresher-pulling-icon {
    color: #fff !important;
    font-weight: 500;
  }
}

/** search **/
.search-container {
  display: flex;
  justify-content: center;
  padding: 12px 0 0;

  ion-searchbar {
    width: 90%;
    padding: 0;
    margin: 0;
  }
}

.darkSearch {
  background-color: #1b1e27;
  padding: 12px 0 12px;
}

/** datatable theme **/

// Bootstrap
.ngx-datatable.bootstrap {
  box-shadow: none;
  font-size: 13px;
  .datatable-header {
    height: unset !important;
    .datatable-header-cell {
      vertical-align: bottom;
      font-weight: bold;
      padding: 0.75rem;
      border-bottom: 1px solid #d1d4d7;
      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }
  .datatable-body {
    .datatable-body-row {
      vertical-align: top;
      border-top: 1px solid #d1d4d7;
      font-weight: 500;
      &.datatable-row-even {
        background-color: #fafafa;
      }
      &.active {
        background-color: #1483ff;
        color: #fff;
      }
      .datatable-body-cell {
        padding: 0.75rem;
        text-align: left;
        vertical-align: top;
      }
    }
    .empty-row {
      $alert-padding-y: 0.75rem !default;
      $alert-padding-x: 1.25rem !default;
      position: relative;
      padding: $alert-padding-y $alert-padding-x;
      margin-bottom: 0;
    }
  }
  .datatable-footer {
    background: #424242;
    color: #ededed;
    margin-top: -1px;
    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }
    .datatable-pager {
      margin: 0 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 0px;
          &:not(.disabled) {
            &.active,
            &:hover {
              a {
                background-color: #545454;
                font-weight: bold;
              }
            }
          }
        }
      }
      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #ededed;
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }
  // Summary row styles
  .datatable-summary-row {
    .datatable-body-row {
      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
}

// Dark
.ngx-datatable.dark {
  box-shadow: none;
  background: #09203f;
  border: 1px solid #2f3646;
  color: #fff;
  font-size: 13px;

  .datatable-header {
    background: #181b24;
    color: #fff;

    .datatable-header-cell {
      text-align: left;
      padding: 0.5rem 1.2rem;
      font-weight: bold;

      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }

  .datatable-body {
    background: #1a1e28;

    .datatable-body-row {
      // border-top: 1px solid #2f3646;
      font-weight: 500;

      .datatable-body-cell {
        text-align: left;
        padding: 0.5rem 1.2rem;
        vertical-align: top;
      }
    }
  }

  .datatable-footer {
    background: #232837;
    color: #72809b;
    margin-top: -1px;

    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }

    .datatable-pager {
      margin: 0 10px;
      vertical-align: top;

      ul {
        li {
          margin: 10px 0px;

          &:not(.disabled) {
            &.active a,
            &:hover a {
              background-color: #455066;
              font-weight: bold;
            }
          }
        }
      }

      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #72809b;
      }

      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }

  .datatable-summary-row {
    .datatable-body-row {
      background-color: #14171f;

      &:hover {
        background-color: #14171f;
      }

      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }
}

