/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/Raleway-Black.ttf') format('truetype');
}

* {
  font-family: 'Raleway' !important;
}

ion-content {
  --background: transparent;
}

:root {
  ion-tab-button {
    --ripple-color: var(--ion-color-tertiary);
  }

  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: var(--ion-color-tertiary) !important;
      --ion-color-base: var(--ion-color-tertiary) !important;
    }
  }

  ion-tab-button:hover {
    ion-icon, ion-label {
      color: var(--ion-color-tertiary) !important;
      --ion-color-base: var(--ion-color-tertiary) !important;
    }
  }
}

ion-header {
  ion-toolbar {
    .header-btns {
      font-size: 24px;
      padding: 16px;

      ion-icon {
        font-size: 24px;
      }
    }

    ion-title {
      font-size: 23px;
      font-weight: 700;
    }
  }
}

ion-tab-bar {
  height: 9%;

  ion-icon {
    color: #989aa2;
    font-size: 36px;
  }

  ion-label {
    font-size: 9px;
    font-weight: bold;
    color: #989aa2;
  }
}

ion-spinner {
  color: black;
}

/*** Styling for Block Rows ***/

.isEven {
  background-color: rgb(0, 0, 0);
}

.isLightandOdd {
  color: black;
  background: #ffffff;
}

.isLightandEven {
  color: black;
  background: #C0C5CC;
}

.isDarkandOdd {
  background-color: rgb(10, 10, 10);
}
